{% extends "layouts/dashboard.html" %}
{% block content %}
<!--main content start-->

		<div class="form-w3layouts">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Create Post
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <!-- <a class="fa fa-cog" href="javascript:;"></a> -->
                                <a class="fa fa-times" href="javascript:;"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <form role="form" action="{% url 'post:store' %}" method="post" class="form-horizontal " enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="form-group  has-warning1 {% if form.errors.title  %} has-error {% else %} has-success {% endif %}">
                                    <label class="col-lg-3 control-label">Title</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="" value="{{form.data.title}}"  name="title" id="f-name" class="form-control">
                                        <p class="help-block "> {{ form.errors.title }} </p>
                                        <!-- {{form.instance.field_name}}  {{ form.field_name.value }} {{form.data.field_name}} -->
                                    </div>
                                </div>

                                
                                <div class="form-group {% if form.errors.content  %} has-error {% else %} has-success {% endif %}">
                                  <label class="col-lg-3 control-label">Content</label>
                                  <div class="col-lg-6">
                                      <textarea type="text"  name="content" placeholder="" id="f-name" class="form-control">{{form.data.content}}</textarea>
                                      <p class="help-block"> {{ form.errors.content }}  </p>
                                  </div>
                                </div>

                                <div class="form-group {% if form.errors.cover  %} has-error {% else %} has-success {% endif %}">
                                  <label class="col-lg-3 control-label">Cover</label>
                                  <div class="col-lg-6">
                                      <input type="file" name="cover" value="{{form.cover.value}}" placeholder="" id="f-name" class="form-control">
                                      <p class="help-block"> {{ form.errors.cover }} </p>
                                  </div>
                                </div>

                                <div class="form-group {% if form.errors.gallery  %} has-error {% else %} has-success {% endif %}">
                                  <label class="col-lg-3 control-label">Gallery</label>
                                  <div class="col-lg-6">
                                      <input type="file"  multiple name="gallery" value="{{form.gallery.value}}" placeholder="" id="f-name" class="form-control">
                                      <p class="help-block"> {{ form.errors.gallery }} </p>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </div>
</section>

{% endblock %}